# This file maps the _class names from your Markdown files
# to the official "Display name" of the layouts in your Google Slides template.

# _class name : "Layout Display Name"
title: 'Theme 1 title'
lead: 'Interior title and body'
section: 'Theme 1 divider'
default: 'Interior title and body'
agenda: 'Interior title and body'
columns: 'Interior title and two column body'
image_right: 'Interior image left'
closing: 'Theme 1 closing'
